%ul.what-do-we-do
  %li.produccion
    Producción Musical
  %li.estudio
    Estudio de Grabación
  %li.post-produccion
    Post-producción
  %li.mezcla
    Mezcla y Masterización
  %li.musicalizacion
    Musicalización de TV

%p
  Pulpo Stereo intruduce una nueva manera de lograr tus metas artísticas. 
  Con un equipo de profesionales definidos principalmente por un gran talento para la música 
  y creatividad inagotable. Has crecer tu fama hasta donde nunca lo imaginaste.


.lead-title.our-main-clients
  Nuestros Principales Clientes

%p.lead-message
  JANDY FELIZ, AMÉRICO, KOKY BONILLA, DEIYVIS OROSCO, MARICARMEN MARIÍN, WILLIAM LUNA...
