$yellow:     #f0e60b;
$blue:       #002f66;


$dosis-legible:  24px;
$dosis-large:    32px;
$dosis-heading:  38px;

$dosis-legible-mobile:  18px;
$dosis-large-mobile:    26px;
$dosis-heading-mobile:  32px;

